<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>final_exam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>final_exam</servlet-name>
    <servlet-class>final_exam.pkg.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>final_exam</servlet-name>
    <url-pattern>/final_exam.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>finalExam_secondServlet</servlet-name>
    <servlet-class>final_exam.pkg.secondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finalExam_secondServlet</servlet-name>
    <url-pattern>/secondServlet.do</url-pattern>
  </servlet-mapping>
  
</web-app>